<!DOCTYPE html>
<html>
<head>
	<title>Vine</title>
	<link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>
	<h1 ><a href="/">Vine</a></h1>
	<a href="/explore">Explore</a>
	<a href="/community">Community</a>
	{{{body}}}

</body>
</html>